.slideMedia {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  place-items: top;
  gap: 10px;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  padding-left: 15px;

  div {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    gap: 10px;

    .mediahover {
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      border: 2px black solid;
    }

    .texthover {
      font-family: Roboto;
      background-color: #ffffff;
      min-height: 40px;
      max-height: auto;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 10px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      visibility: hidden;
      
      &:hover{
        background-color: black;
        color: white;
        border: 5px double white;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }

  div:hover {
    .mediahover {
      opacity: 0.5;
    }

    .texthover {
      visibility: visible;
    }
  }
}

.flex {
  padding-left: 25px;
  display: inline-flex;
  gap: 10px;
}

