.slideMedia {
    display: flex;
    flex-direction: row;
    place-items: top;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.slideMedia div {
    display:block;
    place-items: center;
    text-align: center;
}
.slideMedia div .mediahover {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

.slideMedia div:hover .mediahover {
    opacity: .5;
}
.slideMedia div .texthover {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    visibility: hidden;;
}
    
.slideMedia div:hover  .texthover {
    visibility: visible;
}

.textArea {
    width: 100%;
    height: auto;
}

