.blocksPage {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.blockImage {
  max-width: 10%;
  height: auto;
}

.blocksGrid {
  display: grid;
  width: 55%;  
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.blocksGrid div {
  background: rgb(0, 0, 0);
  border: 1px solid white;
  display: grid;
  place-items: center;
  text-align: center;
  filter: drop-shadow(0px 0px 10px black);
}

.blocksGrid div:hover {
  opacity: 0.6;
}
.blocksGrid div::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  grid-area: 1/ 1 / 2 / 2;
}

.blocksGrid .wider img {
  border: 1px solid white;
  border-radius: 50%;
  max-width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.blocksGrid .taller img {
  border: 1px solid white;
  border-radius: 50%;
  max-width: 50%;
  grid-area: 1 / 1 / 2 / 2;
}

.blocksGrid div h3 {
  width: 100%;
  color: white;
  place-self: end;
  grid-area: 1 / 1 / 2 / 2;
  background-color: black;
  opacity: 0.7;
}

.buttonCreateBlock {
  border: 5px;
  width: 10%;
  border-style: double;
  border-color: white;
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 5px, 10px 5px 10px;
  font-weight: 100;
}

.participantList {
  width: 40%;
  display: inline-flex;
  border: 1px solid rgb(0, 0, 0);
  overflow: visible;
  position: relative;
  align-self: flex-start;
  padding: 10px;
}

.blockparticipantGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%
}

.aboveGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "one one one two two";
  width: 100%;
  gap: 10px;
  padding: 5px;
  align-items: flex-start;
}

.aboveGrid div:nth-of-type(1) {
  grid-area: one;
}

.aboveGrid div:nth-of-type(2) {
  grid-area: two;
}

.part {
  width: 100%;
  text-align: right;
  font-weight: 700;
}
