.blocksPage {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.blockImage {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.blocks-container {
  display:grid;
  width: 55%;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 20px;
}

.square {
  padding-bottom: 100%;
  height: 0;
  position: relative;
  font-family: Roboto, "Geneva", Verdana, sans-serif;
  text-align: center;
  place-items: center;
  filter: drop-shadow(0px 0px 10px black);
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 5%;
  }

  
  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  :hover {
    opacity: 0.6;
  }
}

.buttonCreateBlock {
  border: 5px;
  width: 10%;
  border-style: double;
  border-color: white;
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 5px, 10px 5px 10px;
  font-weight: 100;
}

.participantList {
  width: 40%;
  display: inline-flex;
  border: 1px solid rgb(0, 0, 0);
  overflow: visible;
  position: relative;
  align-self: flex-start;
  padding: 10px;
}

.blockparticipantGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%
}

.aboveGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "one one one two two";
  width: 100%;
  gap: 10px;
  padding: 5px;
  align-items: flex-start;
}

.aboveGrid div:nth-of-type(1) {
  grid-area: one;
}

.aboveGrid div:nth-of-type(2) {
  grid-area: two;
}

.part {
  width: 100%;
  text-align: right;
  font-weight: 700;
}
