.App {
  text-align: center;
  justify-content: space-around;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 3;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: Roboto, "Geneva", Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  align-items: center;

  .viewHeader {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    width: 100%;
    gap: 25px;

    h1 {
      font-family: Roboto;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 50px;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    justify-items: center;

    h2 {
      font-family: Roboto;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .photo {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }

  .pageHeader {
    padding: 40px 40px 0px 40px;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;
    gap: 25px;
  }
}

.buttonText {
  font-family: Roboto;
  background-color: #ffffff;
  min-height: 40px;
  max-height: auto;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background-color: black;
    color: white;
    border: 5px double white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  &:focus {
    background-color: black;
    color: white;
    border: 5px double white;
    cursor:pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  align-content: flex-start;
  width: 100%;

  fieldset {
    border: 0px hidden white;
    padding-bottom: 10px;
    padding-top: 10px;

    input {
      margin-right: 10px;
    }
  }
  

  .createRect {
    height: auto;
    max-width: 100%;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;

    h2 {
      padding-left: 10px;
    }
  }
}

.submitButtons {
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  gap: 5px;
}

.gridPhoto {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 5px;
  border-color: black;
}

.errorMessage {
  color: red;
  font-weight: bold;
  font-size: medium;
}