.App {
  text-align: center;
  justify-content: space-around;
  // justify-content: center;
  display:flex;
  flex-direction: column;
  line-height: 3.0;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

.viewHeader{
  display: flex;
  justify-content: center;
  margin-top: 50px;

  h1{
    font-family: Roboto; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
  }
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  // can't seem to center so I am hardcoding this value for now
  margin-left: 32%;

  h2{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 20px;
  }

  .buttonText{
    font-family: Roboto;
    height: 75%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
  
    &:hover{
      opacity: .7;
      background-color: grey;
      color: white;
      border: 2px solid white;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
  
}

.photo {
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}

.createRect {
  height: auto;
  width: 100%;
  justify-content: center;
  border: 2px;
  border-style: solid;
  border-color: rgb(187, 187, 187);
  padding: 5px 20px;
}

.textBox {
  height: 40px;
  width: 100%;
  font-size: 14px;
}

.fullWidthButton {
  width: 100%;
  height:auto;
}
  
.pageHeader {
  padding: 40px 40px 0px 40px ;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.addPadding {
  padding-bottom: 20px;
  padding-top: 20px;
}
}

.buttonText{
  font-family: Roboto;
  background-color: #ffffff;
  // display: flex;
  // flex-direction: column;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover{
    opacity: .7;
    background-color: grey;
    color: white;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}  
